# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.YeetBow.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Unity\YeetBow\.idea\.idea.YeetBow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
