# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.YeetBow1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Unity\YeetBow1\.idea\.idea.YeetBow1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
